@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url("../images/pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.header__container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 170px;
}
.header__logo {
  position: absolute;
}
.header__title {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(220, 86, 197);
  padding-bottom: 52px;
}
.header__box {
  display: flex;
  justify-content: space-between;
}
.header__input {
  display: flex;
  align-items: center;
}
.header__content {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgb(147, 147, 147);
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 12px;
  padding-left: 30px;
  padding-bottom: 12px;
}
.header__look {
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 16px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.header__select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.header__select {
  width: 270px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgb(147, 147, 147);
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  padding-top: 13px;
  padding-left: 30px;
  padding-bottom: 13px;
  padding-right: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header__select-arrow {
  position: absolute;
  right: 20px;
  pointer-events: none;
  padding: 10px;
}

.main {
  background-image: url("/images/bg_body.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.events {
  width: 100%;
  max-width: 946px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  padding-top: 43px;
}
.events__container {
  width: 100%;
  max-width: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.events__boom-box {
  width: 100%;
  max-width: 196px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}
.events__boom-box-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(220, 86, 197);
  margin-top: 5px;
}
.events__boom-box-data {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  margin-bottom: 5px;
}
.events__boom-box-where {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.end__text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(147, 147, 147);
  margin-top: 80px;
  padding-bottom: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.modal__content {
  background-color: #fff;
  margin: 180px auto 0;
  width: 930px;
  height: 1023px;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
  padding: 20px;
  position: relative;
  overflow-y: auto;
}
.modal__close {
  position: absolute;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  color: #6C2BD9;
}
.modal__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 41px;
}
.modal__logo img {
  margin-top: 62px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
}
.modal__main {
  display: flex;
  gap: 20px;
}
.modal__left {
  flex: 0 0 360px;
}
.modal__artist-image {
  width: 360px;
  height: 641px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 30px;
}
.modal__right {
  margin-left: 60px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal__info h2, .modal__info h3, .modal__when h2, .modal__when h3, .modal__where h2, .modal__where h3, .modal__who h2, .modal__who h3, .modal__prices h2, .modal__prices h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #DC56C5;
  padding-bottom: 7px;
}
.modal__info p, .modal__when p, .modal__where p, .modal__who p, .modal__prices p {
  font-family: Montserrat;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
  text-align: left;
}
.modal__price-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}
.modal__price-option p {
  display: flex;
  align-items: center;
  gap: 13px;
  margin: 0;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  margin-bottom: 20px;
}
.modal__price-option__ticket {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  flex-shrink: 0;
}
.modal__buy-ticket {
  width: 145px;
  height: 40px;
  background-color: #4C00FE;
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.modal__more-author {
  width: 255px;
  height: 40px;
  background-color: transparent;
  color: #4C00FE;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  border: 1px solid #4C00FE;
  border-radius: 5px;
  cursor: pointer;
  margin: 45px auto 0;
  display: block;
}

body--modal-open-- {
  overflow: hidden;
}

@media (max-width: 1024px) {
  .modal__content {
    width: 750px;
    height: 950px;
    margin: 180px auto 0;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
  }
  .modal__main {
    flex-direction: column;
  }
  .modal__left {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
  }
  .modal__artist-image {
    width: 100%;
    max-width: 360px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .modal__content {
    width: 595px;
    max-height: 831px;
    margin: 161px auto 0;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
  }
  .modal img {
    margin-top: -10px;
  }
  .modal__artist-image {
    width: 233px;
    height: 416px;
    margin-left: -280px;
  }
  .modal p {
    width: 265px;
  }
  .modal__info h2, .modal__info h3, .modal__when h2, .modal__when h3, .modal__where h2, .modal__where h3, .modal__who h2, .modal__who h3, .modal__prices h2, .modal__prices h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-bottom: 5px;
  }
  .modal__buy-ticket {
    margin-bottom: 20px;
  }
  .modal__right {
    margin-left: 300px;
    margin-top: -430px;
  }
}
@media (max-width: 590px) {
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__box {
    width: 100%;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__input {
    margin-bottom: 25px;
  }
  .header__title {
    margin: 0 auto;
    font-size: 18px;
    padding-top: 78px;
    width: 220px;
    padding-bottom: 25px;
  }
}
@media (max-width: 480px) {
  .modal__content {
    width: 400px;
    height: 870px;
    margin: 300px auto 0;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }
  .modal__artist-image {
    max-width: 250px;
  }
  .modal__logo img {
    width: 100px;
    height: 100px;
  }
  .modal__buy-ticket {
    width: 120px;
    height: 35px;
    font-size: 12px;
  }
  .modal__more-author {
    width: 200px;
    height: 35px;
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .modal__content {
    width: 272px;
    height: 915px;
    margin: 414px auto 0;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
  }
  .modal__artist-image {
    max-width: 200px;
  }
  .modal__logo img {
    width: 80px;
    height: 80px;
  }
  .modal__buy-ticket {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
  .modal__more-author {
    width: 180px;
    height: 30px;
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  .events {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    padding-left: 25px;
    padding-right: 15px;
  }
  .events__container {
    margin-bottom: 40px;
  }
  .events__boom-box {
    width: 128px;
  }
  .events__boom-box-title {
    font-size: 14px;
  }
  .events__boom-box-data {
    font-size: 14px;
  }
  .events__boom-box-where {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .header__logo {
    width: 180px;
    height: 151px;
  }
  .header__title {
    margin: 0 auto;
    font-size: 30px;
  }
  .events {
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
    max-width: 610px;
  }
}
@media (max-width: 690px) {
  .header__logo {
    width: 106px;
    height: 90px;
  }
}